{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12" id="pictures">
        <img class="mySlides" src="https://images.unsplash.com/photo-1554882364-2ce9addc4d09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80">
        <!-- <img class="mySlides" id="pictures" src="https://images.unsplash.com/photo-1518965683148-a9266c28d385?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"> -->
        <img class="mySlides" src="https://images.unsplash.com/photo-1542277235-f9877df42ad7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1147&q=80">
    </div>
</div>

<div class="row">
    <div class="col-md-9 mt-4">
        <h2>Italian bike sharing</h2>
        <p> Mi-Bikers is a service for bike sharing on the territory of Milan.
            So many people are riding with us; our bikes, parked at strategic points, are available 365 
            days a year and allow you to experience the city in a fast, fun and above all economic way.
            With our bikes you will arrive earlier, without parking problems and ... in shape! </br>
            <strong>What are you waiting? Ride with us!</strong>
        </p>

        <h2>Let's ride!</h2>
        <p>Mi-Bikers is a really easy&useful bike sharing app.
        It's a free app available on all devices.
        Check for available bikes around Milan and start the journey!</strong>
        </p>

    </div>
    <div class="col-md-3">
    </div>
</div>
{% endblock content %}