{% extends "layout.html" %}
{% block content %}

    <img class="mySlides" id="pictures" src="https://images.unsplash.com/photo-1554882364-2ce9addc4d09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80">
    <!-- <img class="mySlides" id="pictures" src="https://images.unsplash.com/photo-1518965683148-a9266c28d385?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"> -->
    <img class="mySlides" id="pictures" src="https://images.unsplash.com/photo-1542277235-f9877df42ad7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1147&q=80">


<div class="row">
    <div class="col-md-9">
        <h2>Il bike sharing d’Italia.</h2>
        <p>BicinCittà è il servizio di bike sharing più diffuso in Italia.
            Con noi pedalano oltre 100 città; le nostre bici, posteggiate in punti strategici, sono disponibili 365 giorni l’anno e permettono di vivere la città in modo veloce, divertente e soprattutto economico.
            Con le nostre biciclette arriverai prima, senza problemi di parcheggio e… in forma!
            <strong> in sella, pedala con noi!</strong>
        </p>

        <h2>Let's ride!</h2>
        <p>Mi-Bikers is a really easy&useful bike sharing app.
        It's a free app available on all devices.
        Check for available bikes around Milan and start the journey!</strong>
        </p>

    </div>
    <div class="col-md-3">
    </div>
</div>
{% endblock content %}