{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select station</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
        </div>
        <div id="mapid" class="col-md-9"></div>
    </div>

<script type="text/javascript" >

    var home = {
        lat: 45.465,
        lng: 9.19,
        zoom: 13.4
    };

    var mapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';
    var accessToken = 'pk.eyJ1IjoibWFyaXplbiIsImEiOiJjanAxNGNsaHExNHN2M2pwNGUwYTdsOTdiIn0.ccfbhqb33KMZX5kIcwqauQ';

    var grayscale = L.tileLayer(mapboxUrl, {
                    id: 'mapbox.light', 
                    attribution: '', 
                    maxZoom: 20, 
                    accessToken: accessToken
                    }),
        streets = L.tileLayer(mapboxUrl, {
                    id: 'mapbox.streets', 
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors', 
                    maxZoom: 20, 
                    accessToken: accessToken
                    }),
        satellite = L.tileLayer(mapboxUrl, {
                    id: 'mapbox.satellite', 
                    attribution: '', 
                    maxZoom: 20, 
                    accessToken: accessToken
                    });
    

    var url = [{
                "type": "FeatureCollection",
                "name": "stations2",
                "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
                "features": [
                { "type": "Feature", "properties": { "ID": 1, "BIKE_SH": "01 Duomo 1", "INDIRIZZO": "P.za Duomo", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.465, "lon": 9.189, "title": "01 Duomo 1" }, "geometry": { "type": "Point", "coordinates": [ 9.189029797817104, 45.464723699741583 ] } },
                { "type": "Feature", "properties": { "ID": 2, "BIKE_SH": "02 San Babila", "INDIRIZZO": "P.za S.Babila", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.466, "lon": 9.198, "title": "02 San Babila" }, "geometry": { "type": "Point", "coordinates": [ 9.197583379174052, 45.466472877583051 ] } },
                { "type": "Feature", "properties": { "ID": 3, "BIKE_SH": "03 Cadorna 1", "INDIRIZZO": "P.za Cadorna", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.468, "lon": 9.176, "title": "03 Cadorna 1" }, "geometry": { "type": "Point", "coordinates": [ 9.175661640836314, 45.468002901526347 ] } },
                { "type": "Feature", "properties": { "ID": 4, "BIKE_SH": "04 Lanza", "INDIRIZZO": "L.go Greppi", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.472, "lon": 9.182, "title": "04 Lanza" }, "geometry": { "type": "Point", "coordinates": [ 9.181970120449469, 45.47227400329264 ] } },
                { "type": "Feature", "properties": { "ID": 5, "BIKE_SH": "05 Università Cattolica", "INDIRIZZO": "P.za S.Ambrogio", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.463, "lon": 9.176, "title": "05 Università Cattolica" }, "geometry": { "type": "Point", "coordinates": [ 9.176497894604566, 45.463041732015007 ] } },
                { "type": "Feature", "properties": { "ID": 6, "BIKE_SH": "06 San Giorgio", "INDIRIZZO": "P.za S.Giorgio", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.461, "lon": 9.184, "title": "06 San Giorgio" }, "geometry": { "type": "Point", "coordinates": [ 9.183620940504658, 45.46088945727795 ] } },
                { "type": "Feature", "properties": { "ID": 7, "BIKE_SH": "07 Santa Maria Beltrade", "INDIRIZZO": "P.za S.Maria Beltrade", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.463, "lon": 9.187, "title": "07 Santa Maria Beltrade" }, "geometry": { "type": "Point", "coordinates": [ 9.186769165340538, 45.462785773527088 ] } },
                { "type": "Feature", "properties": { "ID": 8, "BIKE_SH": "08 Velasca", "INDIRIZZO": "P.za Velasca", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.46, "lon": 9.19, "title": "08 Velasca" }, "geometry": { "type": "Point", "coordinates": [ 9.190214604055894, 45.460053254008528 ] } },
                { "type": "Feature", "properties": { "ID": 9, "BIKE_SH": "09 Santo Stefano", "INDIRIZZO": "P.za S.Stefano", "STALLI": 18, "LOCALIZ": "Marciapiede", "lat": 45.462, "lon": 9.195, "title": "09 Santo Stefano" }, "geometry": { "type": "Point", "coordinates": [ 9.195326400189597, 45.462364979789157 ] } },
                { "type": "Feature", "properties": { "ID": 10, "BIKE_SH": "10 Missori", "INDIRIZZO": "P.za Missori", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.461, "lon": 9.188, "title": "10 Missori" }, "geometry": { "type": "Point", "coordinates": [ 9.188151988046812, 45.461295083444057 ] } },
                { "type": "Feature", "properties": { "ID": 11, "BIKE_SH": "11 Castello \"Acquario civico\"", "INDIRIZZO": "Via Gadio", "STALLI": 18, "LOCALIZ": "Marciapiede", "lat": 45.472, "lon": 9.179, "title": "11 Castello \"Acquario civico\"" }, "geometry": { "type": "Point", "coordinates": [ 9.179424446815974, 45.472453152470969 ] } },
                { "type": "Feature", "properties": { "ID": 12, "BIKE_SH": "12 San Lorenzo \"Colonne\"", "INDIRIZZO": "Via Pio IV", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.459, "lon": 9.181, "title": "12 San Lorenzo \"Colonne\"" }, "geometry": { "type": "Point", "coordinates": [ 9.181479448452107, 45.458602143646125 ] } },
                { "type": "Feature", "properties": { "ID": 13, "BIKE_SH": "13 Senato", "INDIRIZZO": "Via Senato", "STALLI": 18, "LOCALIZ": "Marciapiede", "lat": 45.471, "lon": 9.197, "title": "13 Senato" }, "geometry": { "type": "Point", "coordinates": [ 9.197453380582335, 45.47054671412053 ] } },
                { "type": "Feature", "properties": { "ID": 14, "BIKE_SH": "14 San Barnaba \"H Mangiagalli\"", "INDIRIZZO": "Via S. Barnaba", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.46, "lon": 9.199, "title": "14 San Barnaba \"H Mangiagalli\"" }, "geometry": { "type": "Point", "coordinates": [ 9.198520917934518, 45.459516004188629 ] } },
                { "type": "Feature", "properties": { "ID": 15, "BIKE_SH": "15 Cantore", "INDIRIZZO": "P.za Cantore", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.456, "lon": 9.173, "title": "15 Cantore" }, "geometry": { "type": "Point", "coordinates": [ 9.172811604634566, 45.455800879284581 ] } },
                { "type": "Feature", "properties": { "ID": 16, "BIKE_SH": "16 Moscova", "INDIRIZZO": "L.go La Foppa", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.478, "lon": 9.185, "title": "16 Moscova" }, "geometry": { "type": "Point", "coordinates": [ 9.184603117550653, 45.477530063079982 ] } },
                { "type": "Feature", "properties": { "ID": 17, "BIKE_SH": "17 Legnano \"Arena civica\"", "INDIRIZZO": "Via Legnano", "STALLI": 18, "LOCALIZ": "Marciapiede", "lat": 45.477, "lon": 9.181, "title": "17 Legnano \"Arena civica\"" }, "geometry": { "type": "Point", "coordinates": [ 9.180863176143303, 45.477203774869828 ] } },
                { "type": "Feature", "properties": { "ID": 18, "BIKE_SH": "18 Tommaseo", "INDIRIZZO": "P.za Tommaseo", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.47, "lon": 9.167, "title": "18 Tommaseo" }, "geometry": { "type": "Point", "coordinates": [ 9.166540850990756, 45.469505139711366 ] } },
                { "type": "Feature", "properties": { "ID": 19, "BIKE_SH": "19 Santa Sofia", "INDIRIZZO": "Via S.Sofia", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.456, "lon": 9.188, "title": "19 Santa Sofia" }, "geometry": { "type": "Point", "coordinates": [ 9.188160616736234, 45.456333290578883 ] } },
                { "type": "Feature", "properties": { "ID": 20, "BIKE_SH": "20 Erculea", "INDIRIZZO": "P.za Erculea", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.459, "lon": 9.19, "title": "20 Erculea" }, "geometry": { "type": "Point", "coordinates": [ 9.189607002525591, 45.459084117539071 ] } },
                { "type": "Feature", "properties": { "ID": 21, "BIKE_SH": "21 Università Bocconi 1", "INDIRIZZO": "Via Bocconi", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.449, "lon": 9.19, "title": "21 Università Bocconi 1" }, "geometry": { "type": "Point", "coordinates": [ 9.190441308541562, 45.448577978451617 ] } },
                { "type": "Feature", "properties": { "ID": 22, "BIKE_SH": "22 Medaglie d'Oro 1", "INDIRIZZO": "C.so Lodi", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.451, "lon": 9.204, "title": "22 Medaglie d'Oro 1" }, "geometry": { "type": "Point", "coordinates": [ 9.204089236151679, 45.451210382564014 ] } },
                { "type": "Feature", "properties": { "ID": 23, "BIKE_SH": "23 Regina Margherita", "INDIRIZZO": "V.le Regina Margherita", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.458, "lon": 9.205, "title": "23 Regina Margherita" }, "geometry": { "type": "Point", "coordinates": [ 9.205259981549297, 45.458248684192711 ] } },
                { "type": "Feature", "properties": { "ID": 24, "BIKE_SH": "24 Tricolore", "INDIRIZZO": "C.so Concordia", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.468, "lon": 9.207, "title": "24 Tricolore" }, "geometry": { "type": "Point", "coordinates": [ 9.207325082259382, 45.467964942433014 ] } },
                { "type": "Feature", "properties": { "ID": 25, "BIKE_SH": "25 Centrale 1", "INDIRIZZO": "P.za Duca d'Aosta sx", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.485, "lon": 9.202, "title": "25 Centrale 1" }, "geometry": { "type": "Point", "coordinates": [ 9.202482634621161, 45.485421410866948 ] } },
                { "type": "Feature", "properties": { "ID": 26, "BIKE_SH": "26 Centrale 2", "INDIRIZZO": "P.za Duca d'Aosta dx", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.485, "lon": 9.204, "title": "26 Centrale 2" }, "geometry": { "type": "Point", "coordinates": [ 9.204244276003429, 45.484539303625311 ] } },
                { "type": "Feature", "properties": { "ID": 27, "BIKE_SH": "27 P.ta Venezia - Oberdan", "INDIRIZZO": "Bastioni di P.ta Venezia", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.475, "lon": 9.205, "title": "27 P.ta Venezia - Oberdan" }, "geometry": { "type": "Point", "coordinates": [ 9.204549351989694, 45.474673373856781 ] } },
                { "type": "Feature", "properties": { "ID": 28, "BIKE_SH": "28 San Giovanni sul Muro", "INDIRIZZO": "L.go Callas", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.467, "lon": 9.181, "title": "28 San Giovanni sul Muro" }, "geometry": { "type": "Point", "coordinates": [ 9.181446126612734, 45.467465787322169 ] } },
                { "type": "Feature", "properties": { "ID": 29, "BIKE_SH": "29 San Pietro in Gessate \"Tribunale\"", "INDIRIZZO": "C.so P.ta Vittoria", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.462, "lon": 9.201, "title": "29 San Pietro in Gessate \"Tribunale\"" }, "geometry": { "type": "Point", "coordinates": [ 9.201391123804912, 45.462395233694345 ] } },
                { "type": "Feature", "properties": { "ID": 30, "BIKE_SH": "30 Crocetta", "INDIRIZZO": "L.go Crocetta", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.456, "lon": 9.196, "title": "30 Crocetta" }, "geometry": { "type": "Point", "coordinates": [ 9.19566715617678, 45.456244025097604 ] } },
                { "type": "Feature", "properties": { "ID": 32, "BIKE_SH": "32 Manin - Bastioni", "INDIRIZZO": "Via Manin", "STALLI": 30, "LOCALIZ": "Carreggiata", "lat": 45.477, "lon": 9.198, "title": "32 Manin - Bastioni" }, "geometry": { "type": "Point", "coordinates": [ 9.19831573104778, 45.476859878260754 ] } },
                { "type": "Feature", "properties": { "ID": 33, "BIKE_SH": "33 Alemagna \"Triennale\"", "INDIRIZZO": "Via Alemagna", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.472, "lon": 9.173, "title": "33 Alemagna \"Triennale\"" }, "geometry": { "type": "Point", "coordinates": [ 9.173477252837696, 45.471877896296107 ] } },
                { "type": "Feature", "properties": { "ID": 34, "BIKE_SH": "34 Cairoli", "INDIRIZZO": "L.go Cairoli", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.468, "lon": 9.182, "title": "34 Cairoli" }, "geometry": { "type": "Point", "coordinates": [ 9.182302171241927, 45.467996835812301 ] } },
                { "type": "Feature", "properties": { "ID": 35, "BIKE_SH": "35 Torino - Carrobbio", "INDIRIZZO": "Via Torino", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.46, "lon": 9.182, "title": "35 Torino - Carrobbio" }, "geometry": { "type": "Point", "coordinates": [ 9.181724001537207, 45.460434231432671 ] } },
                { "type": "Feature", "properties": { "ID": 36, "BIKE_SH": "36 San Vito", "INDIRIZZO": "Via S.Vito", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.459, "lon": 9.184, "title": "36 San Vito" }, "geometry": { "type": "Point", "coordinates": [ 9.183707549301703, 45.459201914318264 ] } },
                { "type": "Feature", "properties": { "ID": 37, "BIKE_SH": "37 Italia - San Martino", "INDIRIZZO": "C.so Italia", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.453, "lon": 9.187, "title": "37 Italia - San Martino" }, "geometry": { "type": "Point", "coordinates": [ 9.186953745066459, 45.452968017142723 ] } },
                { "type": "Feature", "properties": { "ID": 38, "BIKE_SH": "38 XXIV Maggio", "INDIRIZZO": "P.le XXIV Maggio", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.452, "lon": 9.179, "title": "38 XXIV Maggio" }, "geometry": { "type": "Point", "coordinates": [ 9.17915981728944, 45.452153250621471 ] } },
                { "type": "Feature", "properties": { "ID": 39, "BIKE_SH": "39 XXV Aprile", "INDIRIZZO": "C.so Garibaldi", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.48, "lon": 9.187, "title": "39 XXV Aprile" }, "geometry": { "type": "Point", "coordinates": [ 9.186692785801547, 45.480227320375569 ] } },
                { "type": "Feature", "properties": { "ID": 40, "BIKE_SH": "40 Morozzo della Rocca", "INDIRIZZO": "Via Morozzo della Rocca", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.464, "lon": 9.169, "title": "40 Morozzo della Rocca" }, "geometry": { "type": "Point", "coordinates": [ 9.168913823602866, 45.463973013543026 ] } },
                { "type": "Feature", "properties": { "ID": 41, "BIKE_SH": "41 Conciliazione", "INDIRIZZO": "P.za Conciliazione", "STALLI": 18, "LOCALIZ": "Marciapiede", "lat": 45.468, "lon": 9.167, "title": "41 Conciliazione" }, "geometry": { "type": "Point", "coordinates": [ 9.16694121236403, 45.467687562640336 ] } },
                { "type": "Feature", "properties": { "ID": 42, "BIKE_SH": "42 San Pietro all'Orto", "INDIRIZZO": "Via S.Pietro all'Orto", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.466, "lon": 9.196, "title": "42 San Pietro all'Orto" }, "geometry": { "type": "Point", "coordinates": [ 9.195602928574099, 45.46608309306167 ] } },
                { "type": "Feature", "properties": { "ID": 43, "BIKE_SH": "43 Festa del Perdono", "INDIRIZZO": "Via Festa del Perdono", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.461, "lon": 9.195, "title": "43 Festa del Perdono" }, "geometry": { "type": "Point", "coordinates": [ 9.194705615784072, 45.461306258453526 ] } },
                { "type": "Feature", "properties": { "ID": 44, "BIKE_SH": "44 Richini \"Univ. Statale\"", "INDIRIZZO": "L.go Richini", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.459, "lon": 9.193, "title": "44 Richini \"Univ. Statale\"" }, "geometry": { "type": "Point", "coordinates": [ 9.192925000903298, 45.459359175569986 ] } },
                { "type": "Feature", "properties": { "ID": 45, "BIKE_SH": "45 Cantù", "INDIRIZZO": "Via Cantù", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.464, "lon": 9.187, "title": "45 Cantù" }, "geometry": { "type": "Point", "coordinates": [ 9.18662591079384, 45.464190196478434 ] } },
                { "type": "Feature", "properties": { "ID": 46, "BIKE_SH": "46 Porta Nuova", "INDIRIZZO": "P.le Principessa Clotilde", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.48, "lon": 9.193, "title": "46 Porta Nuova" }, "geometry": { "type": "Point", "coordinates": [ 9.192821856511181, 45.480001889726474 ] } },
                { "type": "Feature", "properties": { "ID": 47, "BIKE_SH": "47 Gorizia 1 \"Navigli\"", "INDIRIZZO": "V.le Gorizia", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.452, "lon": 9.177, "title": "47 Gorizia 1 \"Navigli\"" }, "geometry": { "type": "Point", "coordinates": [ 9.177443814556314, 45.452325114777075 ] } },
                { "type": "Feature", "properties": { "ID": 48, "BIKE_SH": "48 Gorizia 2 \"Navigli\"", "INDIRIZZO": "V.le Gorizia", "STALLI": 21, "LOCALIZ": "Marciapiede", "lat": 45.452, "lon": 9.177, "title": "48 Gorizia 2 \"Navigli\"" }, "geometry": { "type": "Point", "coordinates": [ 9.177298751545944, 45.452340368770194 ] } },
                { "type": "Feature", "properties": { "ID": 49, "BIKE_SH": "49 San Paolo - P.za Meda", "INDIRIZZO": "Via S.Paolo", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.466, "lon": 9.193, "title": "49 San Paolo - P.za Meda" }, "geometry": { "type": "Point", "coordinates": [ 9.193016116405449, 45.46644656500024 ] } },
                { "type": "Feature", "properties": { "ID": 50, "BIKE_SH": "50 Beccaria", "INDIRIZZO": "P.za Beccaria", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.464, "lon": 9.195, "title": "50 Beccaria" }, "geometry": { "type": "Point", "coordinates": [ 9.194826903820164, 45.464371456051843 ] } },
                { "type": "Feature", "properties": { "ID": 51, "BIKE_SH": "51 Santa Maria delle Grazie", "INDIRIZZO": "Via F.lli Ruffini", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.467, "lon": 9.17, "title": "51 Santa Maria delle Grazie" }, "geometry": { "type": "Point", "coordinates": [ 9.169786666085679, 45.466506245458604 ] } },
                { "type": "Feature", "properties": { "ID": 52, "BIKE_SH": "52 Vittor Pisani", "INDIRIZZO": "Via Vittor Pisani", "STALLI": 24, "LOCALIZ": "Marciapiede", "lat": 45.48, "lon": 9.199, "title": "52 Vittor Pisani" }, "geometry": { "type": "Point", "coordinates": [ 9.199137086129774, 45.48043177672551 ] } },
                { "type": "Feature", "properties": { "ID": 53, "BIKE_SH": "53 Palestro 1", "INDIRIZZO": "Via Palestro", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.472, "lon": 9.202, "title": "53 Palestro 1" }, "geometry": { "type": "Point", "coordinates": [ 9.201707938326038, 45.472338556997279 ] } },
                { "type": "Feature", "properties": { "ID": 54, "BIKE_SH": "54 Sant'Eustorgio - P.ta Ticinese", "INDIRIZZO": "C.so P.ta Ticinese", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.455, "lon": 9.181, "title": "54 Sant'Eustorgio - P.ta Ticinese" }, "geometry": { "type": "Point", "coordinates": [ 9.180693713597162, 45.455166840682466 ] } },
                { "type": "Feature", "properties": { "ID": 55, "BIKE_SH": "55 Cinque Giornate", "INDIRIZZO": "P.za Cinque Giornate", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.463, "lon": 9.207, "title": "55 Cinque Giornate" }, "geometry": { "type": "Point", "coordinates": [ 9.207056507008513, 45.462653575943499 ] } },
                { "type": "Feature", "properties": { "ID": 56, "BIKE_SH": "56 Bastioni di P.ta Venezia", "INDIRIZZO": "V.le Città di Fiume", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.476, "lon": 9.201, "title": "56 Bastioni di P.ta Venezia" }, "geometry": { "type": "Point", "coordinates": [ 9.200586719337219, 45.475910076146754 ] } },
                { "type": "Feature", "properties": { "ID": 57, "BIKE_SH": "57 Brera", "INDIRIZZO": "Via Brera", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.472, "lon": 9.188, "title": "57 Brera" }, "geometry": { "type": "Point", "coordinates": [ 9.187541742893472, 45.471789835980516 ] } },
                { "type": "Feature", "properties": { "ID": 58, "BIKE_SH": "58 Sant'Agostino", "INDIRIZZO": "Via Numa Pompilio", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.459, "lon": 9.17, "title": "58 Sant'Agostino" }, "geometry": { "type": "Point", "coordinates": [ 9.169519984154695, 45.45891881627189 ] } },
                { "type": "Feature", "properties": { "ID": 59, "BIKE_SH": "59 Palestro 2", "INDIRIZZO": "Via Palestro", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.472, "lon": 9.202, "title": "59 Palestro 2" }, "geometry": { "type": "Point", "coordinates": [ 9.20150161966215, 45.472436204783769 ] } },
                { "type": "Feature", "properties": { "ID": 60, "BIKE_SH": "60 Edison", "INDIRIZZO": "Via della Posta", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.464, "lon": 9.184, "title": "60 Edison" }, "geometry": { "type": "Point", "coordinates": [ 9.183544120261596, 45.464330623109426 ] } },
                { "type": "Feature", "properties": { "ID": 61, "BIKE_SH": "61 Augusto", "INDIRIZZO": "L.go Augusto", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.463, "lon": 9.198, "title": "61 Augusto" }, "geometry": { "type": "Point", "coordinates": [ 9.198160388642455, 45.463429155516152 ] } },
                { "type": "Feature", "properties": { "ID": 62, "BIKE_SH": "62 Treves", "INDIRIZZO": "L.go Treves", "STALLI": 24, "LOCALIZ": "Carreggiata", "lat": 45.475, "lon": 9.187, "title": "62 Treves" }, "geometry": { "type": "Point", "coordinates": [ 9.186787851252022, 45.475045006193696 ] } }
                ]
                }
    ];
    
    //PopUp points

    function forEachFeature(feature, layer) {
        var popupContent = [];

        // render properties

        for (var key in feature.properties) {

            popupContent.push(feature.properties[key]);
            }
            // render coordinates
            if(feature.geometry.type === "Point")
                {
                    popupContent.push(feature.geometry.coordinates[1].toFixed(3));
                    popupContent.push(feature.geometry.coordinates[0].toFixed(3));
                }
            layer.bindPopup('<center><strong>' + popupContent[1] + "</strong></center>" +
                            '<center><strong>' + popupContent[2] + "</strong></center><br/>Other Information:<br/>" +
                            '<strong>Stalls: </strong>' + popupContent[3] + "<br/>" +
                            '<strong>Location: </strong>' + popupContent[4] + "<br/>" +
                            '<strong>Latitude: </strong>' + popupContent[7] + "<br/>" +
                            '<strong>Longitude: </strong>' + popupContent[8] + "<br/>" +
                            "<br/>" +
                            '{% if current_user.is_authenticated %}' +
                            '<a href="{{ url_for("main.about") }}" class="btn btn-success active" role="button">Statistic</a>',
                            '{% else %}' +
                            '<a href="{{ url_for("users.login") }}" class="btn btn-success active" role="button">Login to see statistic</a>',
                            '{% endif %}');
            };


    var stations = L.geoJSON(url, {
        onEachFeature: forEachFeature,
        pointToLayer: function (feature, latlng) {
            return L.marker(latlng, {
            icon: new L.AwesomeNumberMarkers({
            number: feature.properties.ID, 
            markerColor: 'green'
            })
        })
        }
    });

    //Map

    var map = L.map('mapid',{
            center: [home.lat, home.lng],
            zoom: home.zoom,
            layers: [streets, stations]
        });

   
            
    var baseMaps = {
        "Open Street Map": streets,
        "Grayscale": grayscale,
        "Satellite": satellite
    };
            
    var overlayMaps = {
        "Stations": stations
    };

    L.control.layers(baseMaps, overlayMaps).addTo(map);


    // Zoom Home function
    L.easyButton('fa-home fa-lg',function(btn,map){
            map.setView([home.lat, home.lng], home.zoom);
            },'Zoom To Home').addTo(map);
    
    //GPS location
    function onLocationFound(e) {
        var radius = e.accuracy / 2;

        L.marker(e.latlng).addTo(map)
            .bindPopup("You are within " + radius + " m" ).openPopup();

        // L.circle(e.latlng, radius).addTo(map);
    }

    map.on('locationfound', onLocationFound);

        function onLocationError(e) {
        alert(e.message);
    }

    map.on('locationerror', onLocationError);

    L.easyButton('fa-crosshairs fa-lg',function(btn,map){
        map.locate({setView: true, maxZoom: 13});
            },'My position').addTo(map);

    //Routing button
    var routing = L.Routing.control({
    //waypoints: [
        // L.latLng(57.74, 11.94),
        // L.latLng(57.6792, 11.949)
        //],
        routeWhileDragging: true,
        reverseWaypoints: true,
        showAlternatives: true,
        router: L.Routing.mapbox(accessToken),
        geocoder: L.Control.Geocoder.nominatim()
    });
   
    routing.addTo(map);

    L.Routing.errorControl(routing).addTo(map);

    //popup for asking directions
    function createButton(label, container) {
    var btn = L.DomUtil.create('button', '', container);
    btn.setAttribute('type', 'button');
    btn.innerHTML = label;
    return btn;
}


map.on('click', function(e) {
    var container = L.DomUtil.create('div'),
        startBtn = createButton('Start from this location', container),
        destBtn = createButton('Go to this location', container);

    var removeContainer = L.DomUtil.create('div'),
        removeBtn = createButton('Remove waypoint',removeContainer);

    L.popup()
        .setContent(container)
        .setLatLng(e.latlng)
        .openOn(map);

    //subs waypoints
    L.DomEvent.on(startBtn, 'click', function() {
        routing.spliceWaypoints(0, 1, e.latlng);
            map.closePopup();
        });

    L.DomEvent.on(destBtn, 'click', function() {
        routing.spliceWaypoints(routing.getWaypoints().length - 1, 1, e.latlng);
        map.closePopup();
    });
});

//Selection of the station
var selector = L.control({
  position: 'topleft'
});

selector.onAdd = function(map) {
  var div = L.DomUtil.create('div', 'mySelector');
  div.innerHTML = '<select id="marker_select"><option value="init">(select item)</option></select>';
  return div;
};

selector.addTo(map);

stations.eachLayer(function(layer) {
  var optionElement = document.createElement("option");
  optionElement.innerHTML = layer.feature.properties.title;
  optionElement.value = layer._leaflet_id;
  L.DomUtil.get("marker_select").appendChild(optionElement);
});

var marker_select = L.DomUtil.get("marker_select");
L.DomEvent.addListener(marker_select, 'click', function(e) {
  L.DomEvent.stopPropagation(e);
});
L.DomEvent.addListener(marker_select, 'change', changeHandler);

function changeHandler(e) {
  if (e.target.value == "init") {
    map.closePopup();
  } else {
    stations.getLayer(e.target.value).openPopup();
  }
}

  
</script>
{% endblock content %}