{% extends "layout.html" %}
{% block content %}
    <div id="mapid"></div>

    <script type="text/javascript" >

        var home = {
                    lat: 45.465,
                    lng: 9.19,
                    zoom: 12.5
                };

        var mapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';
        var accessToken = 'pk.eyJ1IjoibWFyaXplbiIsImEiOiJjanAxNGNsaHExNHN2M2pwNGUwYTdsOTdiIn0.ccfbhqb33KMZX5kIcwqauQ';

        var grayscale = L.tileLayer(mapboxUrl, {
                        id: 'mapbox.light', 
                        attribution: '', 
                        maxZoom: 20, 
                        accessToken: accessToken
                        }),
            streets = L.tileLayer(mapboxUrl, {
                        id: 'mapbox.streets', 
                        attribution: '', 
                        maxZoom: 20, 
                        accessToken: accessToken
                        }),
            satellite = L.tileLayer(mapboxUrl, {
                        id: 'mapbox.satellite', 
                        attribution: '', 
                        maxZoom: 20, 
                        accessToken: accessToken
                        });
            
        
        // var stations = new L.GeoJSON.AJAX("{{ url_for('static', filename='GeoJson/stations_bike.geojson') }}")
        var url = '{{ url_for("static", filename="GeoJson/stations_bike.geojson") }}';

        function forEachFeature(feature, layer) {
            var popupContent = [];
        
            // render properties
        
            for (var key in feature.properties) {

                popupContent.push(feature.properties[key]);
            }
            // render coordinates
            if(feature.geometry.type === "Point")
            {
                popupContent.push(feature.geometry.coordinates[1].toFixed(3));
                popupContent.push(feature.geometry.coordinates[0].toFixed(3));
            }
            layer.bindPopup('<center><strong>ID Station: </strong>' + popupContent[0] + "</center><br/>Other Information:<br/>" +
                            '<strong>Bike shelter: </strong>' + popupContent[1] + "<br/>" +
                            '<strong>Address: </strong>' + popupContent[2] + "<br/>" +
                            '<strong>Stalls: </strong>' + popupContent[3] + "<br/>" +
                            '<strong>Location: </strong>' + popupContent[4] + "<br/>" +
                            '<strong>Latitude: </strong>' + popupContent[7] + "<br/>" +
                            '<strong>Longitude: </strong>' + popupContent[8] + "<br/>" +
                            "<br/>" + '<a href="{{ url_for("main.about") }}" class="btn btn-success active" role="button">Statistic</a>');
        };

        var stations = L.geoJson();
        // Get GeoJSON data and create features.
        $.getJSON(url, function(data) {

                sites = L.geoJson(data, {

                    onEachFeature: forEachFeature,

                    pointToLayer: function(feature, latlng) {

                        return L.circleMarker(latlng, {
                        radius:6,
                        opacity: .5,
                        color: "#000",
                        fillColor:  'red',
                        fillOpacity: 0.8
                        });
                    }

                }); 
                
                sites.addTo(map);
            });
            
            
        
            

            var map = L.map('mapid',{
                center: [home.lat, home.lng],
                zoom: home.zoom,
                layers: [streets, stations]
            });
            
            var baseMaps = {
                "Open Street Map": streets,
                "Grayscale": grayscale,
                "Satellite": satellite
            };
            
            var overlayMaps = {
                "Stations": stations
            };

            L.control.layers(baseMaps, overlayMaps).addTo(map);


            // Zoom Home function
            L.easyButton('fa-crosshairs fa-lg',function(btn,map){
                    map.setView([home.lat, home.lng], home.zoom);
                    },'Zoom To Home').addTo(map);
        
        
    </script>

{% endblock content %}